@inherits LayoutComponentBase

<div class="bg-dark text-white min-vh-100 d-flex align-items-center justify-content-center" style="background: radial-gradient(circle at center, #1a1a1d 0%, #000000 100%);">
    @Body
</div>