<nav class="flex-column p-3 gap-1">
        
    @* ========================================================
           admins y empleados
           ======================================================== *@
    <AuthorizeView Roles="Administrador, Empleado">
        <Authorized>
            <div class="nav-category">General</div>
                
            <div class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <i class="bi bi-grid-1x2-fill nav-icon"></i> Inicio
                </NavLink>
            </div>

            <div class="nav-category mt-4">Operaciones</div>

            <div class="nav-item">
                <NavLink class="nav-link pulse-access" href="acceso">
                    <i class="bi bi-qr-code-scan nav-icon"></i> Control de Acceso
                </NavLink>
            </div>

            @* NUEVO: PUNTO DE VENTA *@
            <div class="nav-item">
                <NavLink class="nav-link" href="punto-venta">
                    <i class="bi bi-shop nav-icon"></i> Punto de Venta
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="suscripciones">
                    <i class="bi bi-credit-card-fill nav-icon"></i> Pagos y Planes
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="clientes">
                    <i class="bi bi-people-fill nav-icon"></i> Directorio Socios
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="nuevo-cliente">
                    <i class="bi bi-person-plus-fill nav-icon"></i> Registrar Socio
                </NavLink>
            </div>

            <div class="nav-category mt-4">Administración</div>

            <div class="nav-item">
                <NavLink class="nav-link" href="entrenadores">
                    <i class="bi bi-person-vcard-fill nav-icon"></i> Staff y Entrenadores
                </NavLink>
            </div>

            <div class="nav-item">
                <NavLink class="nav-link" href="planes">
                    <i class="bi bi-tags-fill nav-icon"></i> Catálogo de Planes
                </NavLink>
            </div>

            @* NUEVO: INVENTARIO *@
            <div class="nav-item">
                <NavLink class="nav-link" href="inventario">
                    <i class="bi bi-box-seam-fill nav-icon"></i> Inventario
                </NavLink>
            </div>

            
        </Authorized>
    </AuthorizeView>

    @* ========================================================
           admin y entrenadores
           ======================================================== *@
    <AuthorizeView Roles="Entrenador">
        <Authorized>
            <div class="nav-category mt-4 text-cyan">Área Técnica</div>
            <div class="nav-item">
                <NavLink class="nav-link coach-link" href="portal-entrenador">
                    <i class="bi bi-lightning-charge-fill nav-icon"></i> Gestión Atletas
                </NavLink>
            </div>
        </Authorized>
    </AuthorizeView>

    @* ========================================================
           the client
           ======================================================== *@
    <AuthorizeView Roles="Cliente">
        <Authorized>
            <div class="nav-category mt-3 text-purple">Portal VIP</div>

            <div class="nav-item">
                <NavLink class="nav-link vip-link" href="mi-portal">
                    <i class="bi bi-person-badge-fill nav-icon"></i> Mi Entrenamiento
                </NavLink>
            </div>
        </Authorized>
    </AuthorizeView>

    @* ========================================================
           admin
           ======================================================== *@
    <AuthorizeView Roles="Administrador">
        <Authorized>
            <div class="nav-category mt-4 text-cyan">Área Técnica</div>
            <div class="nav-item">
                <NavLink class="nav-link coach-link" href="reportes">
                    <i class="bi bi-bar-chart-fill nav-icon"></i> Reportes
                </NavLink>
            </div>
        </Authorized>
    </AuthorizeView>


   
</nav>