@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="typeof(Program).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity?.IsAuthenticated != true)
                    {
                        @* Si no está logueado, lo mandamos al login *@
                        <RedirectToLogin />
                    }
                    else
                    {
                        @* Si está logueado pero no tiene el ROL necesario *@
                        <LayoutView Layout="typeof(Layout.MainLayout)">
                            <div class="text-center mt-5">
                                <p role="alert" class="h4 text-danger">No tienes permisos para acceder a esta sección.</p>
                                <a href="/" class="btn btn-outline-primary mt-3">Volver al Inicio</a>
                            </div>
                        </LayoutView>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>No encontrado</PageTitle>
            <LayoutView Layout="typeof(Layout.MainLayout)">
                <p role="alert" class="text-center mt-5">Lo sentimos, la página no existe.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>